* {
    box-sizing: border-box;
  }
  
  body {
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 45%, rgba(0,212,255,1) 100%);
    
    font-family: sans-serif;
  }
  
  h3 {
    color: white;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #131720;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding:10px;
  }
  .search-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30%;
  }
  .haha{
    display: none;
    overflow: hidden;
  }
  .topnav .active{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  .topnav .signin1{
    color:white;
    border: none;
    text-decoration:none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heading{
    font-family: cursive;
  }
  .topnav .search-container{
    float: right;
  }
  .watchlist-img{
    height:100%;
    width:100%;
  }
  .signin1{
    height:100%;
    width:100%;
  }
  .del{
    display:block;
  }
  .sign-in-button{
    background-color: #131720;
  }
  
  form{
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
  }
  
  input {
    all: unset;
    font: 15px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
  }
  .error{
    color:red;
  }
  .sigg {
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .signin{
    color:red;
    display: flex;
    flex-direction: column;
  }
  .signin1{
    display: flex;
    background-color: #131720;
  }
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    padding-right: 20px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content div {
    font-size: 12px;
      color: black;
    padding: 5px 7px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content div:hover{
    cursor: pointer;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  @media screen and (max-width: 40rem) {
    .del{
      display: none;
    }
  }