.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 70vh;
    background: rgb(37, 1, 91);
  }
  
  .titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 64px;
    width:70%;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    color:white;
  }
  .hhhr{
    width:100%;

  }
  .buttom2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resultContainer,
  .historyItem {
    flex-direction: row;
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
  }
  
  .historyContainer {
    flex-direction: column;
    display: flex;
    height: 200px;
    align-items: center;
    flex-grow: 5;
    justify-content: flex-start;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
  }
  label{
    color: white;
    margin:2px;
  }
  .inputBox {
    height: 5vh;
    width: 30vh;
    font-size: large;
    border-radius: 8px;
    color: white;
    padding-left: 8px;
    background-color: rgb(49, 32, 164);
  }
  .loog{
    background-color: blueviolet;
    height:4vh;
    border:1.5px white solid;
    color: white
  }
  .buttom{
    display: flex;
    width:20vh;
    justify-content: space-between;
  }